<!-- <div class="row" >
	<div class="col s12 m4">
		<a *ngIf="userData" [routerLink]="['', userData.username]">
			<span>Posts</span>
			<p class="num" *ngIf="userData">{{ userData.posts.length }}</p>
			<p class="num" *ngIf="!userData">0</p>
		</a>
	</div>
	<div class="col s12 m4" [routerLinkActive]="['']" [routerLinkActiveOptions]="{ exact: true }">
		<a [routerLink]="['/people', 'following']">
			<span>Following</span>
			<p class="num" *ngIf="userData">{{ userData.following.length }}</p>
			<p class="num" *ngIf="!userData">0</p>
		</a>
	</div>
	<div class="col s12 m4" [routerLinkActive]="['']" [routerLinkActiveOptions]="{ exact: true }">
		<a [routerLink]="['/people', 'followers']">
			<span>Followers</span>
			<p class="num" *ngIf="userData">{{ userData.followers.length }}</p>
			<p class="num" *ngIf="!userData">0</p>
		</a>
	</div>
</div> -->
<ul class="collection with-header" style="margin-left: -30px;">
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isSuperadmin">
		<a [routerLink]="['/streams']">
			<div>
				Streams<a href="#!" class="secondary-content"><i class="material-icons">announcement</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isSuperadmin">
		<a [routerLink]="['/people']">
			<div>
				People<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isSuperadmin">
		<a [routerLink]="['/people', 'following']">
			<div>
				Following<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isSuperadmin">
		<a [routerLink]="['/people', 'followers']">
			<div>
				Followers<a href="#!" class="secondary-content"><i class="material-icons">people_outline</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isGymowner || isSuperadmin">
		<a [routerLink]="['/gymowner']">
			<div>
				GymOwner<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isTrainers">
		<a [routerLink]="['/trainer']">
			<div>
				Trainers<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
			</div>
		</a>
	</li>

	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isClientRole || isSuperadmin">
		<a [routerLink]="['/gymslist']">
			<div>
				Gyms<a href="#!" class="secondary-content"><i class="material-icons">fitness_center</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isClientRole">
		<a [routerLink]="['/trainerslist']">
			<div>
				Trainers<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isClientRole">
		<a [routerLink]="['/images', user. username]">
			<div>
				Photos<a href="#!" class="secondary-content"><i class="material-icons">photo_library</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isClientRole">
		<a [routerLink]="['/notifications']">
			<div>
				Notifications<a href="#!" class="secondary-content"><i class="material-icons">alarm</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isClientRole">
		<a [routerLink]="['/account', 'password']">
			<div>
				Change Password<a href="#!" class="secondary-content"><i class="material-icons">vpn_key</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isGymowners || isSuperadmin || isAdmin">
		<a [routerLink]="['/gymprofile']">
			<div>
				Gym Profiles<a href="#!" class="secondary-content"><i class="material-icons">fitness_center</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf=" isSuperadmin">
		<a [routerLink]="['/workinghours']">
			<div>
				Working Hours<a href="#!" class="secondary-content"><i class="material-icons">access_time</i></a>
			</div>
		</a>
	</li>

	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isGymowners || isSuperadmin">
		<a [routerLink]="['/gymgallery', user.username]">
			<div>
				Gallery<a href="#!" class="secondary-content"><i class="material-icons">photo_library</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isGymowners">
		<a [routerLink]="['/images', user.username]">
			<div>
				Photos<a href="#!" class="secondary-content"><i class="material-icons">photo_library</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isGymowners">
		<a [routerLink]="['/notifications']">
			<div>
				Notifications<a href="#!" class="secondary-content"><i class="material-icons">alarm</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isGymowners">
		<a [routerLink]="['/account', 'password']">
			<div>
				Change Password<a href="#!" class="secondary-content"><i class="material-icons">vpn_key</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isTrainer || isSuperadmin">
		<a [routerLink]="['/trainerprofile']">
			<div>
				Trainer Profile<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isTrainer || isSuperadmin">
		<a [routerLink]="['/trainerview/myprofile']">
			<div>
				Trainer View<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isTrainer">
		<a [routerLink]="['/images', user.username]">
			<div>
				Photos<a href="#!" class="secondary-content"><i class="material-icons">photo_library</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isTrainer">
		<a [routerLink]="['/notifications']">
			<div>
				Notifications<a href="#!" class="secondary-content"><i class="material-icons">alarm</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isTrainer">
		<a [routerLink]="['/account', 'password']">
			<div>
				Change Password<a href="#!" class="secondary-content"><i class="material-icons">vpn_key</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" *ngIf="isAdmin">
		<ul>
			<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
				<a [routerLink]="['/gymowner']">
					<div>
						GymOwner<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
					</div>
				</a>
			</li>
			<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
				<a [routerLink]="['/workinghours']">
					<div>
						Gym Working Hours<a href="#!" class="secondary-content">
							<i class="material-icons">av_timer</i></a>
					</div>
				</a>
			</li>
			<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
				*ngIf="isAdmin || isGymowners">
				<a [routerLink]="['/gymservices']">
					<div>
						Gym Services<a href="#!" class="secondary-content"><i class="material-icons">build</i></a>
					</div>
				</a>
			</li>
			<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
				*ngIf="isAdmin || isGymowners">
				<a [routerLink]="['/gymprices']">
					<div>
						Gym Prices<a href="#!" class="secondary-content"><i class="material-icons">payment</i>
						</a>
					</div>
				</a>
			</li>
		</ul>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isAdmin || isSuperadmin || isTrainer">
		<a [routerLink]="['/trainer']">
			<div>
				Trainers<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" *ngIf="isAdmin">
		<ul>
			<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
				<a [routerLink]="['/trainerview/myprofile']">
					<div>
						Trainer View<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
					</div>
				</a>
			</li>
			<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
				<a [routerLink]="['/trainerprofile']">
					<div>
						Trainer Profile<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
					</div>
				</a>
			</li>
			<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
				<a [routerLink]="['/train-workinghours']">
					<div>
						Trainer Working Hours<a href="#!" class="secondary-content">
							<i class="material-icons">av_timer</i></a>
					</div>
				</a>
			</li>

		</ul>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isAdmin || isSuperadmin">
		<a [routerLink]="['/servicelist']">
			<div>
				Services <a href="#!" class="secondary-content"><i class="material-icons">fitness_center</i></a>
			</div>
		</a>
	</li>

	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf=" isGymowners">
		<a [routerLink]="['/workinghours']">
			<div>
				Gym Working Hours<a href="#!" class="secondary-content">
					<i class="material-icons">av_timer</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf=" isGymowners">
		<a [routerLink]="['/gymservices']">
			<div>
				Gym Services<a href="#!" class="secondary-content"><i class="material-icons">build</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf=" isGymowners">
		<a [routerLink]="['/gymprices']">
			<div>
				Gym Prices<a href="#!" class="secondary-content"><i class="material-icons">payment</i>
				</a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isSuperadmin">
		<a [routerLink]="['/images', user.username]">
			<div>
				Photos<a href="#!" class="secondary-content"><i class="material-icons">photo_library</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isSuperadmin">
		<a [routerLink]="['/notifications']">
			<div>
				Notifications<a href="#!" class="secondary-content"><i class="material-icons">alarm</i></a>
			</div>
		</a>
	</li>
	<li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isSuperadmin">
		<a [routerLink]="['/account', 'password']">
			<div>
				Change Password<a href="#!" class="secondary-content"><i class="material-icons">vpn_key</i></a>
			</div>
		</a>
	</li>
	<!-- <li class="collection-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
		*ngIf="isAdmin || isSuperadmin || isGymowners">
		<a [routerLink]="['/gymedit']">
			<div>
				Edit Gyms<a href="#!" class="secondary-content"><i class="material-icons">vpn_key</i></a>
			</div>
		</a>
	</li> -->
	<li class="collection-item" *ngIf="isSuperadmin || isGymowners">
		<a [routerLink]="['/gymowner']">
			<div>
				GymOwner<a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
			</div>
		</a>
	</li>
</ul>