a {
	color: black;
}
.active a {
	color: #ffffff !important;
}
.active {
	background-color: #ea4f44 !important;
}

.material-icons {
	color:black;
}

.active .material-icons {
	color: #ffffff;
}
.row span {
	font-size: 12px;
	font-weight: bold;
}
.num {
	margin: 0 !important;
	color: #64b5f6;
	font-weight: bold;
	font-size: 16px;
}
