<app-toolbar (onlineUsers)="online($event)"></app-toolbar>
<div class="container" style="margin-top:30px;">
    <div class="row col s6" >
        <div class="col s12 m5 l3">
            <app-side></app-side>
        </div>
        <div class="col s12 m11 l8" style="margin-top: 70px;">
          <select class="browser-default custom-select">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        <table mdbTable>
            <thead>
              <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of elements">
                <th scope="row">{{el.id}}</th>
                <td>{{el.first}}</td>
                <td>{{el.last}}</td>
                <td>{{el.handle}}</td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
   
</div>



