.table td {
    padding: 1rem .45rem;
    border-color: #f3f1f1;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
*, *::before, *::after {
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
label {
    cursor: default;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent;
}
table {
    border-collapse: collapse;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-user-select: none;
}
.slider.round {
    border-radius: 34px;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.switch input {
    display: none;
}
input[type="radio"], input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.caps{
    text-transform: capitalize;
}
.card{
    position: relative;
    margin: 0px 0px 1rem 250px;
}