.bgimg {
	height: 100%;
	/* background-color: rgba(241, 58, 58, 0.986); */
	background-image: url('/assets/images/gym-login.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/* opacity: 0.8; */
}

div.bodyContainer {
	margin-top: 50px !important;
}
.card .card-content {
	/* padding: 14px; */
	border-radius: 0 0 2px 2px;
	
}
.tabs a {
	color: #e40b0b;
	font-weight: bold;
	font-size: 18px;
}
.tabs .active {
	background: inherit !important;
}
.auth-content {
	height: 515px !important;
}
