<app-toolbar></app-toolbar>
<div class="container" style="margin-top:30px;">
    <div class="row col s6">
        <div class="col s12 m5 l3" *ngIf="isCreation">
            <app-side></app-side>
        </div>
        <div class="card">
            <h3 style="margin-left: 30px; color: #ff0000;">Trainer Timings Edit</h3>
            <div class="col s12 m11 l8" style="margin-top: 10px;" *ngIf="isCreation">
                <select class="browser-default custom-select" [(ngModel)]="selectedValue"
                    (change)='onOptionsSelected($event)'>
                    <option *ngFor="let trainer of trainers" value="{{trainer._id}}">{{trainer.name}}</option>
                </select>
            </div>
            <table class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <th style="width: 20px;"> # </th>
                        <th>Day</th>
                        <th> Timeings </th>
                        <th> Allow Booking </th>
                        <th> Action </th>
                    </tr>
                    <tr *ngFor="let timeing of selectTrainer?.workinghours">
                        <td></td>
                        <td class="caps"> {{timeing.day}} </td>
                        <td>
                            <p *ngFor="let slot of timeing.slots">{{slot.starting}} to {{slot.ending}}</p>
                        </td>
                        <td>
                            <label class="green text-primary" *ngIf="timeing.status=='Enable'">Enabled</label>
                            <label class="red text-primary" *ngIf="timeing.status=='Disable'">Disable</label>

                        </td>
                        <td>
                            <a [routerLink]="['/trainer-edittimings/'+timeing.day+'/'+selectTrainer._id]"
                                data-row-id="1" class="btn btn-primary btn-rounded btn-sm edit-row"><i
                                    class="icon-pencil"></i> Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn waves-effects" style="margin: 20px;" id="signupbtn" *ngIf="!isCreation"
                (click)="nexttrainer()">Next</button>
        </div>
    </div>
</div>