<app-toolbar (onlineUsers)="online($event)"></app-toolbar>
<div class="container" style="margin-top:30px;">
    <div class="row col s6">
        <div class="col s12 m5 l3">
            <app-side></app-side>
            
        </div>
     <button class="btn" style="float: right; margin: 2px;" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/gymprofile']">
            <span style="color: white;"> Add Gym</span>
        </a>
    </button>      
        <div class="col s12 m8 l9">
			<div class="row">
				<div class="col s12 m6 l4 cardDiv" *ngFor="let gym of gyms">
					<div class="card">
						<a (click)="ViewGym (gym)">
							<div class="card-image imgDiv">
								<img class="imgCircle responsive-img"
									src="http://res.cloudinary.com/chatapplication/image/upload/v{{ gym.picVersion }}/{{ gym.picId }}" />
							</div>
						</a>

						<div class="card-action" style="padding: 0px 20px; line-height: 0.5;">
							<h3 class="card-title">
								{{ gym.gymname }}
								<i class="fa fa-circle" *ngIf="CheckIfOnline(gym.gymname)"></i>
							</h3>
							<p *ngIf="user.city">{{ user.city }},{{ user.country }}</p>
							<!-- <p *ngIf="user.role">{{ user.role }}</p> -->
							<!-- <button class="btn" style="margin: 2.5px;" *ngIf="!CheckInArray(userArr, user._id)"
								(click)="FollowUser(user)">Follow</button>
							<button class="btn" 
								(click)="DeleteUser(user)">Remove</button>
							<button class="btn  disabled following" 
								*ngIf="CheckInArray(userArr, user._id)">Following</button> -->
							<!-- <a class="secondary-content"  style="margin-right: -10px; padding-top: 10px;" [routerLink]="['/chat', user.username]">
								<i class="material-icons" >chat</i>
							</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>