<h4 style="text-align: center;"> Terms & Conditions </h4>
<div class="terms" style="padding: 25px;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta arcu eu porta volutpat. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Aenean congue sodales imperdiet. Sed facilisis, urna id consequat suscipit,
        tellus lectus malesuada nibh, at eleifend odio nunc in sapien. Suspendisse suscipit iaculis finibus. Morbi
        sodales
        lectus in dui maximus volutpat. Integer eget ultrices diam. Sed blandit orci a ornare pulvinar. Aliquam eu
        sagittis
        magna, vitae ultrices justo. Aliquam pulvinar elementum lectus non viverra. In eget lorem dui. Pellentesque ut
        efficitur ante, ac sodales diam. In sagittis nisi at libero commodo malesuada. Quisque dui ipsum, eleifend sit
        amet
        erat sodales, pharetra volutpat massa. Praesent commodo aliquet tellus vitae tristique.</p>
    <p>Phasellus pretium enim sit amet lectus porta vulputate. Nullam porttitor ante ac lacinia consectetur. Vestibulum
        ut arcu a quam consequat laoreet. Duis volutpat ipsum magna, nec convallis mi tincidunt tristique. Aenean orci
        erat, tincidunt porttitor tristique non, suscipit et arcu. Fusce quis orci eget leo mattis volutpat quis sed
        lorem. Suspendisse efficitur imperdiet massa pharetra pretium. Sed eleifend lectus dapibus tellus dapibus, at
        condimentum enim rhoncus. Quisque dolor odio, malesuada vitae eros gravida, pulvinar consequat nisl. Aenean
        consectetur eleifend felis, eu faucibus justo pharetra gravida. Aenean nisl nisi, semper ut nisi vitae, tempus
        tempus ipsum. Curabitur posuere semper nisi, eu tempor lorem accumsan ut. Donec dolor justo, lobortis non
        egestas porta, maximus quis velit</p>
    <p>Suspendisse fermentum facilisis eros, non dictum justo lacinia sit amet. Ut convallis gravida ullamcorper. Etiam
        consectetur euismod massa, id mollis sem sagittis a. Aliquam venenatis leo ut luctus cursus. Proin sodales
        rhoncus urna vitae bibendum. Morbi quam neque, mollis a tristique nec, pretium ac eros. Sed vitae rutrum lectus.
        Donec mollis velit ante, at placerat tellus auctor ac. Sed quis mauris et orci auctor lobortis. Quisque sed
        justo posuere, scelerisque est a, blandit nibh. Morbi vulputate ultricies magna ut posuere. Curabitur vestibulum
        placerat tincidunt. Nulla ac lectus augue. Donec id ipsum est.</p>

    <div>
        <label>
            <input type="checkbox" class="filled-in" (change)="onAgreeTerms()" />
            <span>Agree terms and conditions</span>
        </label>
        <br>
        <button class="btn waves-effects" id="finishgym" *ngIf="isFinish" (click)="finishgym()">Finish</button>
    </div>

</div>