<app-toolbar></app-toolbar>
<main>
    <section id="next-section" class="body-section">
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-action" style="height: 550px;">
                        <div class="col m6 l6">
                            <figure>
                                <img src="assets/images/trainer1.jpg" alt=" pesronal trainer " style="float: left; height: 300px;
                                width: -webkit-fill-available;">
                                <div class="col m4 l4">
                                    <h6>ID: {{trainer.id}} </h6>
                                </div>
                                <div class="col m4 l4">
                                    <h6>Exp: {{trainer.experience}} </h6>
                                </div>
                                <div class="col m4 l4">
                                    <h6>Age: {{user.age}} </h6>
                                </div>
                            </figure>
                        </div>
                        <div class="col m6 l6">
                            <h5>Name:- {{user.username}}</h5>
                            <p>{{trainer.tagline}}</p>
                            <h5>Certification :</h5>
                            <p>{{trainer.certification}}</p>
                            <h5>Specilazation</h5>
                            <p>{{trainer.specialization}}</p>
                            <h5>Address</h5>
                            <P>{{user.address}}</P>
                            <h5>Email</h5>
                            <a href="email" style="color: red;">{{user.email}}</a>
                            <h5>Phone Number</h5>
                            <a href="phone" style="color: red;">{{user.phonenumber}}</a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>