.body-section {
    padding: 2em 0;
    position: relative;
    z-index: 2;
}
.container {
    width: 1170px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-6 {
    width: 50%;
}
figure, ol, p, ul {
    margin-bottom: 1.3em;
}
.button{
    width: 40%;
    height: 25px;
    margin: 5px;
}


