<app-toolbar></app-toolbar>
<!-- <header role="banner" class="header">
    <div class="container-fluid">
        <a href="streams.html" class="header-logo">
            Trainer
            <span>.</span>
        </a>
        <a href="#" class="header-menu visible-xs">
            <i>Menu</i>
        </a>
        <div class="mobile-menu"></div>
        <nav role="navigation" class="header-nav hidden-xs" style="width: 70%;     background-color: #d1d1d1;">
            <ul class="header-main-nav">
                <li class="active">
                    <a href="streams.html"> Home </a>
                </li>
                <li>
                    <a href="#"> programes </a>
                </li>
                <li>
                    <a href="#"> Gallery </a>
                </li>
                <li>
                    <a href="#"> About Me </a>
                </li>
                <li>
                    <a href="#"> Contact us </a>
                </li>
            </ul>
        </nav>
    </div>
</header> -->
<section class="header-intro"
    style="background-image: url('assets/images/trainer1.jpg'); background-position: 0px 0px; height: 350px;">
    <div class="container">
        <div class="row">
            <div class="col-md-7 header-intro-text">
                <h1 class="header-intro-animate fadeIn header-intro-animated" data-animate-effect="fadeIn">
                    <span> rock</span>
                </h1>
                <div class="header-subtitle header-animate fadeIn header-animated" data-animate-effect="fadeIn">
                    <h2>personal trainer</h2>
                </div>
            </div>
        </div>
    </div>
    <span class="probootstrap-animate fadeInUp probootstrap-animated"><a
            class="probootstrap-scroll-down js-next probootstrap-sleep" href="#next-section">Scroll down <i
                class="icon-chevron-down"></i></a></span>
</section>
<main>
    <section id="next-section" class="body-section">
        <div class="container">
            <div class="row">
                <div class="col m6 l6">
                    <figure>
                        <img src="assets/images/trainer1.jpg" alt=" pesronal trainer " style="float: left;
                        width: -webkit-fill-available;">
                    </figure>
                </div>
                <div class="col m6 l6">
                    <h2>About Me</h2>
                </div>
            </div>
        </div>
    </section>
</main>