<app-toolbar (onlineUsers)="online($event)"></app-toolbar>
<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col s12 m5 l3">
            <app-side></app-side>
            <!-- <h1> this is app side component</h1> -->
        </div>
        <div class="col s12 m6 l9">
            <div class="row">
                <h3 class="text"> Add Trainer</h3>
                <div class="col s10 addtrainerForm">
                    <div class="row">
                        <form class="col s12" [formGroup]="addtrainerForm" novalidate (ngSubmit)="trainer()">
                            <div class="row">
                                <div class="input-field col s8">
                                    <input id="user_name" type="text" formControlName="username" />
                                    <label for="user_name">Username</label>
                                    <span class="error"
                                        *ngIf="!addtrainerForm.controls['username'].valid && addtrainerForm.controls['username'].touched">Username
                                        is required</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s8">
                                    <input id="email" type="email" formControlName="email" />
                                    <label for="email">Email</label>
                                    <span class="error"
                                        *ngIf="!addtrainerForm.controls['email'].valid && addtrainerForm.controls['email'].touched">Email
                                        is required</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s8">
                                    <input id="Phone_number" type="text" formControlName="phonenumber" />
                                    <label for="phone_number">PhoneNumber</label>
                                    <span class="error"
                                        *ngIf="!addtrainerForm.controls['phonenumber'].valid && addtrainerForm.controls['phonenumber'].touched">Phone number
                                        is required</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s8">
                                    <input id="pass-word" type="password" formControlName="password" />
                                    <label for="pass-word">Password</label>
                                    <span class="error"
                                        *ngIf="!addtrainerForm.controls['password'].valid && addtrainerForm.controls['password'].touched">Password
                                        is required</span>
                                </div>
                            </div>
                            <button class="btn waves-effects" id="signupbtn" [disabled]="!addtrainerForm.valid">ADD TRAINER</button>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
