<app-toolbar></app-toolbar>
<div class="container" style="margin-top: 30px;">
	<div class="row">
		<div class="col s12 m5 l3">
			<app-side></app-side>
			<!-- <h1> this is app side component</h1> -->
		</div>
		<div class="col s12 36 l9">
			<div class="row">
				<h3>Prices View</h3>
				<div class="col s10 updatePriceForm">
					<div class="row">
						<div class="row col s12">
							<div class="input-field col s12">
								<!-- <input id="price" type="text"/> -->
								<label for="price">One Month Fee is </label>
								<br>
								<input id="rice" type="text" [(ngModel)]="user.onemonth" />
							</div>
						</div>
						<div class="row col s12">
							<div class="input-field col s12">
								<!-- <input id="gym_name" type="text"/> -->
								<label for="price">Two Months Fee is</label>
								<br>
								<input id="price" type="text" [(ngModel)]="user.twomonth" />
							</div>
						</div>
						<div class="row col s12">
							<div class="input-field col s12">
								<!-- <input id="gym_name" type="text"/> -->
								<label for="price">Three Months Fee is</label>
								<br>
								<input id="price" type="text" [(ngModel)]="user.threemonth" />
							</div>
						</div>
						<div class="row col s12">
							<div class="input-field col s12">
								<!-- <input id="gym_name" type="text"/> -->
								<label for="price">Six Months Fee is </label>
								<br>
								<input id="price" type="text" [(ngModel)]="user.sixmonth" />

							</div>
						</div>
						<!-- <div class="row col s12">
							<div class="input-field col s12">
								<p>
									<label>
										<input type="checkbox" class="filled-in" ng-checked="user.isvip=='yes'" />
										<span>VIP Gym</span>
									</label>

								</p>

							</div>
						</div> -->

						<button class="btn waves-effects" id="signupbtn" (click)="updateprice()">UPDATE
							PRICES </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>