<app-toolbar></app-toolbar>
<div class="container" style="margin-top:30px">
	<div class="row">
		<div class="col s12 m4 l3" *ngIf="isCreation">
			<app-side></app-side>
		</div>
		<div class="col s12 m11 l8" style="margin-top: 70px;" *ngIf="isCreation">
			<select class="browser-default custom-select" [(ngModel)]="selectedValue"
				(change)='onOptionsSelected(selectedValue)'>
				<option *ngFor="let gym of gyms" value="{{gym._id}}">{{gym.gymname}}</option>
			</select>
		</div>
		<div class="col s12 m8 l9">
			<div class="card">
				<div class="row" style="margin: 20px;">
					<div class="col s6">
						<div class="file-field input-field">
							<div class="btn">
								<span>File</span>
								<input type="file" ng2FileSelect [uploader]="uploader"
									(onFileSelected)="OnFileSelected($event)" />
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" id="filePath" />
							</div>
						</div>
					</div>

					<div class="col s6">
						<div class="file-field input-field">
							<a class="waves-effect waves-light btn" (click)="Upload()"><i
									class="material-icons left">image</i>Upload image</a>
						</div>
					</div>
				</div>
				<div class="row" style="margin: 25px;">
					<div class="col s12 m6 l4" *ngFor="let image of selectGym?.images">
						<div class="item-img-wrap imgDiv">
							<img class="imgCircle"
								src="http://res.cloudinary.com/chatapplication/image/upload/v{{ image.imgVersion }}/{{ image.imgId }}" />
							<button class="btn imgBtn" (click)="SetProfileImage(image)">{{image.status}}</button>
						</div>
					</div>
					<div class="col s12">
						<button class="btn waves-effects" style="margin: 25px;" id="signupbtn" *ngIf="!isCreation"
							(click)="nextgym()">Next</button>

					</div>
				</div>
			</div> 
		</div>
	</div>
</div>