	<app-toolbar></app-toolbar>

<div class="container" style="margin-top:30px;" *ngIf="isView">
	<section class="background" [ngStyle]="{'background-image': 'url('+returnBImg(gym)+')' }" style="background-position: 0px 0px;">

	</section>

	<div class="row">
		<div class="col m4 l4">
			<div class="card">
				<div class="card-action">
					<h5> Working Hours</h5>
					<table>
						<tbody>
							<tr *ngFor="let timing of gym?.workinghours">
								<td class="day caps">{{timing.day}}</td>
								<td class="time" *ngIf="timing.status=='Enable'">
									<p *ngFor="let slot of timing.slots">{{slot.starting}} - {{slot.ending}}</p>

								</td>
								<td class="time" *ngIf="timing.status=='Disable'"> Holiday </td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col m4 l4">
			<div class="card">
				<div class="card-action">
					<h5>{{gym.gymname}}</h5>
					<br>
					<P>{{gym.gymtag}}</P>
					<P>{{gym.gymdec}}</P>
					<ul>
						<li>{{gym.services}}</li>
						<li>more fitness items</li>
						<li>best trainers</li>
						<li>all goodies and protiens are availabe</li>
						<li>enjoy the gym</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col m4 l4">
			<div class="card">
				<div class="card-action">
					<h5>Contact Us</h5>
					<p><i class="material-icons">room</i> {{gym.address}}</p>

					<a href="email" style="color: red;">{{gym.email}}</a>
					<br>
					<a href="phone" style="color: red;">{{gym.phonenumber}}</a>
					<h5><i class="material-icons">account_balance</i> Bank Details</h5>
						<p>Name:  {{gym.holdername}}</p>
						<p>A/C No: {{gym.accountnumber}}</p>
						<p>IFSC Code: {{gym.ifsccode}}</p>
				</div>
			</div>
		</div>
	</div>
	<section id="gallery-view">
		<div class="title-section"> Gallery </div>
		<div class="row">
			<ul class="img-list">
				<li class="col m3 l3" *ngFor="let image of gym?.images">
					<a href="#" data-lightbox="gallery_plugin" data-title="">
						<div aria-label="image_%description_name%" role="img"						
							[ngStyle]="{'background-image': 'url('+returnImg(image)+')' }"							
							class="img-item">
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<div class="homepage-map" id="sb_home_map">
		<div class="container-fluid">
			<div class="row row-mg">
				<div class="col s12">
					<div class="title-main text-center"> Our Location </div>
					<div id="sb_map">
						<div id="map-view">
							<iframe width="100%" height="500" style="border:0; height:450px;"
								src="https://www.google.com/maps/place/Cyber+Towers/@17.4528496,78.3818991,16.75z/data=!4m5!3m4!1s0x3bcb93ded9f6f0d7:0xa3d91e5d00d50b63!8m2!3d17.4504101!4d78.381038"
								frameborder="0"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="col s12">
					<div class="row" *ngIf="postsTab">
						<ul class="collection col s12 m12 l10" *ngFor="let post of posts">
							<li class="collection-item avatar">
								<img
									class="circle "
									src="http://res.cloudinary.com/chatapplication/image/upload/v{{ user.picVersion }}/{{ user.picId }}"
								/>
								<span class="post">{{ post.postId.username }}</span>
								<p class="time">{{ TimeFromNow(post.created) }} <br />@{{ user.city }},{{ user.country }}</p>
							</li>
							<div class="row">
								<div class="col s12">
									<div class="card">
										<div class="card-image card_image" *ngIf="post.postId.imgId">
											<img
												class="postImage "
												src="http://res.cloudinary.com/chatapplication/image/upload/v{{ post.postId.imgVersion }}/{{
													post.postId.imgId
												}}"
											/>
										</div>
										<div class="card-content">
											<p>{{ post.post }}</p>
										</div>
										<div class="card-action">
											<i class="material-icons">thumb_up</i>
											<span id="iconSpan">{{ post.postId.totalLikes }}</span>

											<i class="material-icons">chat</i>
											<span id="iconSpan">{{ post.postId.comments.length }}</span>
										</div>
									</div>
								</div>
							</div>
						</ul>
					</div>

					<div class="row" *ngIf="followingTab">
						<div class="col s12 m4 l4" *ngFor="let user of following">
							<div class="card">
								<div class="card-image imgDiv">
									<img
										class="imgCircle"
										src="http://res.cloudinary.com/chatapplication/image/upload/v{{ user.userFollowed.picVersion }}/{{
											user.userFollowed.picId
										}}"
									/>
								</div>
								<div class="card-action">
									<h3 class="card-title">{{ user.userFollowed.username }}</h3>
									<p>Country</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row" *ngIf="followersTab">
						<div class="col s12 m4 l4" *ngFor="let user of followers">
							<div class="card">
								<div class="card-image imgDiv">
									<img
										class="imgCircle"
										src="http://res.cloudinary.com/chatapplication/image/upload/v{{ user.follower.picVersion }}/{{
											user.follower.picId
										}}"
									/>
								</div>
								<div class="card-action">
									<h3 class="card-title">{{ user.follower.username }}</h3>
									<p>Country</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->