<nav class="nav-extended">
	<div class="container">
		<div class="nav-wrapper center-align">
			<a (click)="GotoHome()" class="brand-logo ">4Fitz</a>

		</div>
		<div class="nav-content">
			<div class="nav-div center">
				<img class="circle responsive-img "
					src="http://res.cloudinary.com/chatapplication/image/upload/v{{ imageVersion }}/{{ imageId }}" />
			</div>
			<h1 class="profile-name left-align">{{ user.username }}</h1>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li class="dropdown-button dropdown-trigger" data-target="dropdown">
					<i class="fa fa-globe fa-1x badge"></i>
					<span class="nav-label-icon" *ngIf="count.length > 0">{{ count.length }}</span>
					<ul id="dropdown" class="dropdown-content col s12 collection">
						<li class="collection-item avatar" *ngFor="let data of notifications">
							<img src="http://res.cloudinary.com/chatapplication/image/upload/v{{ data.senderId.picVersion }}/{{
									data.senderId.picId
								}}" class="circle" />
							<span [ngClass]="data.read ? 'isRead' : 'unread'">{{ data.message }}</span>
							<p class="time">{{ TimeFromNow(data.created) }}</p>
						</li>
						<li *ngIf="notifications.length <= 0">
							<p class="text">No Notifications</p>
						</li>
						<p class="secondary-content"><a class="markAll btn" (click)="MarkAll()"> Mark all as read</a>
						</p>
					</ul>
				</li>
				<!-- <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li> -->
				<li class="dropdown-button dropdown-trigger1" data-target="dropdown1">
					<i class="fa fa-bell fa-1x badge"></i>
					<span class="nav-label-icon circle" *ngIf="msgNumber > 0">{{ msgNumber }}</span>
					<ul id="dropdown1" class="dropdown-content col s12 collection">
						<li class="collection-item avatar" *ngFor="let chat of chatList"
							(click)="GoToChatPage(chat.receiverId.username)">
							<img src="http://res.cloudinary.com/chatapplication/image/upload/v{{ chat.receiverId.picVersion }}/{{
									chat.receiverId.picId
								}}" class="circle" />
							<span class="title">
								{{ chat.receiverId.username }}

								<a class="secondary-content">
									{{ MessageDate(chat.msgId.message[chat.msgId.message.length - 1].createdAt) }}
								</a>
							</span>

							<p>
								{{ chat.msgId.message[chat.msgId.message.length - 1].body }}
								<a class="secondary-content" *ngIf="
										!chat.msgId.message[chat.msgId.message.length - 1].isRead &&
										chat.receiverId.username !== chat.msgId.message[chat.msgId.message.length - 1].receivername
									">
									<i class="material-icons">brightness_1</i>
								</a>
								<a class="secondary-content"
									*ngIf="chat.msgId.message[chat.msgId.message.length - 1].isRead"><i
										class="material-icons">panorama_fish_eye</i></a>
							</p>
						</li>
						<li *ngIf="notifications.length <= 0">
							<p class="text">No Notifications</p>
						</li>
						<p class="secondary-content"><a class="markAll btn" (click)="MarkAllMessages()"> Mark all as
								read</a></p>
					</ul>
				</li>

				<li><a (click)="logout()">Logout</a></li>
			</ul>

			<p class="user-text left-align">This is test</p>
		</div>
	</div>
</nav>