<app-toolbar ></app-toolbar>
    <div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col s12 m5 l3">
            <app-side></app-side>
            <!-- <h1> this is app side component</h1> -->
        </div>  
        <div class="col s12 m6 l9">
            <div class="row">
                <h3>Add Gym</h3>
                <div class="col s10  addgymForm">
                    <div class="row">
                        <form class="col s12" [formGroup]="addgymForm" novalidate (ngSubmit)="gymadd()">
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="gym_name" type="text" formControlName="gymname" />
                                    <label for="gym_name">Gymname</label>
                                    <span class="error"
                                        *ngIf="!addgymForm.controls['gymname'].valid && addgymForm.controls['gymname'].touched">Gymname
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="tag" type="text" formControlName="tag" />
                                    <label for="tag">Gym Tag Line</label>
                                    <span class="error"
                                        *ngIf="!addgymForm.controls['tag'].valid && addgymForm.controls['tag'].touched">Gym Tag Line 
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="discripition" type="text" formControlName="discripition"/>
                                    <label for="discripition">Gym Discripition</label>
                                    <span class="error"
                                        *ngIf="!addgymForm.controls['discripition'].valid && addgymForm.controls['discripition'].touched">Gym discripition
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="services" type="text" formControlName="services" />
                                    <label for="services">Services</label>
                                    <span class="error"
                                        *ngIf="!addgymForm.controls['services'].valid && addgymForm.controls['services'].touched"> Services are required
                                    </span>
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="address" type="text" formControlName="address" />
                                    <label for="address">Address</label>
                                    <span class="error"
                                        *ngIf="!addgymForm.controls['address'].valid && addgymForm.controls['address'].touched">Address
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="emial" type="text" formControlName="email" />
                                    <label for="email">email</label>
                                    <span class="error"
                                        *ngIf="!addgymForm.controls['email'].valid && addgymForm.controls['email'].touched">emial is
                                        required</span>
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="Phone_number" type="text" formControlName="phonenumber" />
                                    <label for="phone_number">PhoneNumber</label>
                                    <span class="error"
                                        *ngIf="!addgymForm.controls['phonenumber'].valid && addgymForm.controls['phonenumber'].touched">Phone
                                        number
                                        is required</span>
                                </div>
                            </div>
                            <!-- <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="pass-word" type="password" formControlName="password" />
                                    <label for="pass-word">Password</label>
                                    <span class="error"
                                        *ngIf="!addgymForm.controls['password'].valid && addgymForm.controls['password'].touched">Password
                                        is required</span>
                                </div>
                            </div> -->
                            <button class="btn waves-effects" id="signupbtn" [disabled]="!addgymForm.valid">ADD
                                GYM</button>
                            <div class="progress" *ngIf="showSpinner">
                                <div class="indeterminate"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

