<app-toolbar (onlineUsers)="online($event)"></app-toolbar>
<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col s12 m5 l3">
            <app-side></app-side>
            <!-- <h1> this is app side component</h1> -->
        </div>
        <div class="col s12 m6 l9">
            <div class="row">
                <h3 class="text"> Add Gym Owner</h3>
                <div class="col s10  addpeopleForm">
                    <div class="row">
                        <form class="col s12" [formGroup]="addpeopleForm" novalidate (ngSubmit)="gymowner()">
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="user_name" type="text" formControlName="username" />
                                    <label for="user_name">Username</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['username'].valid && addpeopleForm.controls['username'].touched">Username
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="email" type="email" formControlName="email" />
                                    <label for="email">Email</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['email'].valid && addpeopleForm.controls['email'].touched">Email
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="age" type="text" formControlName="age" />
                                    <label for="age">Age</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['age'].valid && addpeopleForm.controls['age'].touched">age
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="Phone_number" type="text" formControlName="phonenumber" />
                                    <label for="phone_number">PhoneNumber</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['phonenumber'].valid && addpeopleForm.controls['phonenumber'].touched">Phone
                                        number
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="address" type="text" formControlName="address" />
                                    <label for="address">Address</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['address'].valid && addpeopleForm.controls['address'].touched">Address
                                        is required</span>
                                </div>
                            </div>
                            <!-- <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="language" type="text" formControlName="language" />
                                    <label for="language">languages are known</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['language'].valid && addpeopleForm.controls['language'].touched">languages
                                        are required</span>
                                </div>
                            </div> -->
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="pass-word" type="password" formControlName="password" />
                                    <label for="pass-word">Password</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['password'].valid && addpeopleForm.controls['password'].touched">Password
                                        is required</span>
                                </div>
                            </div>
                            <button class="btn waves-effects" id="signupbtn" [disabled]="!addpeopleForm.valid">ADD
                                PEOPLE</button>
                            <div class="progress" *ngIf="showSpinner">
                                <div class="indeterminate"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>