<app-toolbar (onlineUsers)="online($event)"></app-toolbar>
<div class="container" style="margin-top:30px;">
    <div class="row">
        <div class="col s12 m5 l3">
            <app-side></app-side>
            <!-- <h1> this is app side component</h1> -->
        </div>
        <div class="col s12 m6 l9">
            <div class="row">
                <h3 class="text"> Add Gym Owner</h3>
                <div class="col s10  addpeopleForm">
                    <div class="row">
                        <form class="col s12" [formGroup]="addpeopleForm" novalidate (ngSubmit)="gymowner()">
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="gym_name" type="text" formControlName="gymname" />
                                    <label for="gym_name">Gym Name</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['gymname'].valid && addpeopleForm.controls['gymname'].touched">Gymname
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="ownername" type="text" formControlName="ownername" />
                                    <label for="ownername">Owner Name/Manager Name</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['ownername'].valid && addpeopleForm.controls['ownername'].touched">Ownername
                                        / Managaer name is required</span>
                                </div>
                            </div>
                           
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="tag" type="text" formControlName="tag" />
                                    <label for="tag">Gym Tag Line</label>
                                    
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="discripition" type="text" formControlName="discripition" />
                                    <label for="discripition">Gym Discripition</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['discripition'].valid && addpeopleForm.controls['discripition'].touched">Gym
                                        discripition
                                        is required</span>
                                </div>
                            </div>
                           
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="office_number" type="text" formControlName="officenumber" />
                                    <label for="office_number">Office Number</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['officenumber'].valid && addpeopleForm.controls['officenumber'].touched">Office
                                        number
                                        is required</span>
                                </div>
                            </div>
                            <h6 style="margin-left:30px;">Address</h6>
                            <div class="row col s4">
                                <div class="input-field col s12">
                                    <input id="flatno" type="text" formControlName="flatno" />
                                    <label for="flatno">H.No/Flat NO</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['flatno'].valid && addpeopleForm.controls['flatno'].touched">H
                                        No/Flat no
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s4">
                                <div class="input-field col s12">
                                    <input id="street" type="text" formControlName="street" />
                                    <label for="street">Street/Road No</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['street'].valid && addpeopleForm.controls['street'].touched">Street
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s4">
                                <div class="input-field col s12">
                                    <input id="area" type="text" formControlName="area" />
                                    <label for="area">Area</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['area'].valid && addpeopleForm.controls['area'].touched">Area
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="locality" type="text" formControlName="locality" />
                                    <label for="locality">Locality</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['locality'].valid && addpeopleForm.controls['locality'].touched">Locality
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="city" type="text" formControlName="city" />
                                    <label for="city">City/District/town</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['city'].valid && addpeopleForm.controls['city'].touched">city/district/town
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="pincode" type="text" formControlName="pincode" />
                                    <label for="pincode">Pincode</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['pincode'].valid && addpeopleForm.controls['pincode'].touched">Pincode
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="state" type="text" formControlName="state" />
                                    <label for="state">State</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['state'].valid && addpeopleForm.controls['state'].touched">State
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s12">
                                <div class="input-field col s12">
                                    <input id="gst" type="text" formControlName="gst" />
                                    <label for="gst">GST NO</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['gst'].valid && addpeopleForm.controls['gst'].touched">Gst No
                                        is required</span>
                                </div>
                            </div>
                            <h6 style="margin-left:30px;">Gym Owner Credtinals </h6>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="user_name" type="text" formControlName="username" />
                                    <label for="user_name">Username</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['username'].valid && addpeopleForm.controls['username'].touched">Username
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="email" type="email" formControlName="email" />
                                    <label for="email">Email</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['email'].valid && addpeopleForm.controls['email'].touched">Email
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="age" type="text" formControlName="age" />
                                    <label for="age">Age</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['age'].valid && addpeopleForm.controls['age'].touched">age
                                        is required</span>
                                </div>
                            </div>
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="Phone_number" type="text" formControlName="phonenumber" />
                                    <label for="phone_number">PhoneNumber</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['phonenumber'].valid && addpeopleForm.controls['phonenumber'].touched">Phone
                                        number
                                        is required</span>
                                </div>
                            </div>
                           
                            <div class="row col s6">
                                <div class="input-field col s12">
                                    <input id="pass-word" type="password" formControlName="password" />
                                    <label for="pass-word">Password</label>
                                    <span class="error"
                                        *ngIf="!addpeopleForm.controls['password'].valid && addpeopleForm.controls['password'].touched">Password
                                        is required</span>
                                </div>
                            </div>                          
                            <button class="btn waves-effects" id="signupbtn" [disabled]="!addpeopleForm.valid">ADD
                                Gym</button>
                            <div class="progress" *ngIf="showSpinner">
                                <div class="indeterminate"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>